apiVersion: v1
kind: Config

clusters:
  - name: cks-wb3
    cluster:
      # Example: https://<cluster-id>.k8s.<region>.coreweave.com
      server: <YOUR_CW_SERVER>

contexts:
  - name: cks-wb3
    context:
      cluster: cks-wb3
      namespace: default
      user: cwtoken-<YOUR_CW_USER>

current-context: cks-wb3

users:
  - name: cwtoken-<YOUR_CW_USER>
    user:
      token: <YOUR_CW_TOKEN>

